%p#notice= notice

%p
  %b User:
  = @play.user
%p
  %b Game:
  = @play.game
%p
  %b Goal:
  = @play.goal
%p
  %b Role:
  = @play.role
%p
  %b Result:
  = @play.result

= link_to 'Edit', edit_play_path(@play)
\|
= link_to 'Back', plays_path
